.login{
  /* Email Address */
  width: 604px;
  height: 58px;
  left: 767px;
  top: 287px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #C9C9C9;

}
