.loginPage{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(134.94deg, #382293 0.66%, #581677 74.98%);
}
.esfera1{
    position: absolute;
    width: 190px;
    height: 190px;
    left: 403px;
    top: 72px;
    background: linear-gradient(90deg, #29B7DF 0%, #49269D 100%);
    /*background: radial-gradient(at top left);*/
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;

}
.esfera2{
    position: absolute;
    width: 180px;
    height: 200px;
    left: 76px;
    top: 671px;
    background: linear-gradient(180deg, #B20AA8 0%, #6F1FAB 100%);
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;

}
.esfera3{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 555px;
    top: 847px;
    background: linear-gradient(180deg, #B20AA8 0%, #6F1FAB 100%);
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
}
.retangulo{
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 720px;
    top: 0px;

    background: #FFFFFF;
}
